/* Styles go here */

#comments {font-size:13px;}
body {background-color:rgb(200,200,200);}
#btnDeal {font-style:italic; font-weight:bold;color:rgb(190,0,90);}
button {color:rgb(80,20,50);border:2px solid black;}
